@layer components {
  /* Default Form Control */
  .form-control {
    height: 38px;
    min-height: 38px;
    //background-color: #f8fafc;
    @apply bg-slate-50 py-1.5 transition duration-200 ease-in-out w-full border-slate-200 rounded text-slate-600 placeholder:text-slate-400/90;
    @apply focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40;
    @apply dark:text-slate-400 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:transition-none dark:placeholder:text-slate-500/50;
    &:disabled {
      @apply bg-slate-300/50 font-medium cursor-not-allowed dark:bg-darkmode-800/50 dark:border-transparent opacity-100;
    }

    /* Default Sizes */
    &.form-control-sm {
      height: 32px;
      min-height: 32px;
      @apply text-sm py-1 px-3;

      @include media-breakpoint-down(sm) {
        height: 40px;
        min-height: 40px;
        @apply text-base;
      }

      &:where(textarea) {
        height: 48px;
        min-height: 48px;
      }
    }

    &.form-control-lg {
      height: 40px;
      min-height: 40px;
      @apply text-lg py-1.5 px-4;

      @include media-breakpoint-down(sm) {
        height: 48px;
        min-height: 48px;
      }
    }

    &.form-control-xl {
      height: 52px;
      min-height: 52px;
      @apply text-lg py-1.5 px-6;

      @include media-breakpoint-down(sm) {
        height: 52px;
        min-height: 52px;
      }
    }

    &.has-error {
      @apply border-red-100 bg-red-50 dark:bg-darkmode-900 dark:border-transparent;
    }

    @include media-breakpoint-down(sm) {
      height: 40px;
      min-height: 40px;
    }
  }

  textarea.form-control {
    min-height: 58px;
    max-height: 250px;
    @apply leading-snug py-2 p-3;
  }

  /* Form Control Rounded */
  .form-control-rounded {
    @apply rounded-full;
  }
}

.has-form-error {
  .form-control,
  .form-select,
  .vue-tel-input,
  .dp-custom-input,
  .v-select .vs__dropdown-toggle,
  .v-select .vs__dropdown-toggle .vs__search,
  .v-select .vs__dropdown-toggle .vs__search:focus {
    @apply border-red-100 bg-red-50 dark:bg-darkmode-900 dark:border-transparent;
  }
}
